node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
API/TMDBApi.js
report.*
package-lock.json
package-lock.*
my-key.keystore
my-release-key.keystore
gradle.*
android/gradle.properties
*gradle.properties*
.android/app/build.gradle
*build.gradle*
